* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .container {
    padding: 2em;
  }
  
  .top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .top-navigation-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .top-navigation-links {
    display: flex;
    gap: 2em;
  }
  
  .top-navigation-links a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1em;
  }
  
  .top-navigation-right {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  
  .top-navigation-right a {
    text-decoration: none;
    color: black;
  }
  
  .top-navigation-right button {
    border: 1px solid black;
    background-color: white;
    width: 150px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
  }


.grid-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  background-color: white;
  padding: 5px;
  

    
}
  
/* Designing all grid-items */
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        
        
}
        





  
/* Designing h1 element */
h1 {
    color: green;
    text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background: #6cf;
}



